<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>全部員工資料</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}">
</head>
<body>
    <h3>所有員工資料</h3>
    <table>
        <tr>
            <th>員工編號</th>
            <th>員工姓名</th>
            <th>職位</th>
            <th>雇用日期</th>
            <th>薪水</th>
            <th>獎金</th>
            <th>部門</th>
            <th>修改</th>
            <th>刪除</th>
        </tr>
        <tr th:each="empDO:${page}" align='center' valign='middle'>
            <td th:text="${empDO.empno}"></td>
            <td th:text="${empDO.ename}"></td>
            <td th:text="${empDO.job}"></td>
            <td th:text="${empDO.hiredate}"></td>
            <td th:text="${empDO.sal}"></td>
            <td th:text="${empDO.comm}"></td>
            <td th:text="${empDO.deptDO.deptno} + '【' + ${empDO.deptDO.dname} + ' - ' + ${empDO.deptDO.loc} + '】'"></td><td>
            <form method="POST" th:action="@{/emp/getOne_For_Update}">
                <input type="submit" value="修改">
                <input type="hidden" name="empno" th:value="${empDO.empno}">
            </form>
        </td>
            <td>
                <form method="POST" th:action="@{/emp/delete}">
                    <input type="submit" value="刪除">
                    <input type="hidden" name="empno" th:value="${empDO.empno}">
                </form>
            </td>
        </tr>
    </table>
    <br />

    <!-- 分頁-->
    <div class="pagination">
        <ul>
            <li>
                <a th:if="${page.hasPrevious()}" th:href="${requestUri} + '?pageNum=' + ${page.previousPageable().getPageNumber()}" th:text="上一頁"></a>
                <a th:if="${!page.hasPrevious()}" th:text="上一頁"></a>
            </li>
            <li th:each="pageNum:${#numbers.sequence(0, page.getTotalPages() - 1)}">
                <a th:if="${pageNum ne page.pageable.getPageNumber()}" th:href="${requestUri} + '?pageNum=' + ${pageNum}" th:text="${pageNum + 1}"></a>
                <a th:if="${pageNum eq page.pageable.getPageNumber()}" th:href="${requestUri} + '?pageNum=' + ${pageNum}" th:text="${pageNum + 1}" th:style="'font-weight:bold;background: #6faed9;'"></a>
            </li>
            <li>
                <a th:if="${page.hasNext()}" th:href="${requestUri} + '?pageNum=' + ${page.nextPageable().getPageNumber()}" th:text="下一頁"></a>
                <a th:if="${!page.hasNext()}" th:text="下一頁"></a>
            </li>
        </ul>
    </div>

    <a th:href="@{/}">回首頁</a>
</body>
</html>
